name: Publish

on:
  push:
    branches:
      - main

permissions:
  contents: read
  id-token: write

jobs:
  publish:
    runs-on: ubuntu-24.04
    concurrency:
      group: ${{ github.workflow }}-${{ github.ref }}
    steps:
      - uses: actions/checkout@v6
        with:
          submodules: true
          fetch-depth: 0

      - name: Set up Hugo
        uses: peaceiris/actions-hugo@v3
        with:
          hugo-version: '0.154.3'

      - name: Tweak hugo.toml
        run: |
          sed -E 's|^(author[[:space:]]*=[[:space:]]*)".*"|\1"${{ secrets.AUTHOR }}"|' -i hugo.toml

      - name: Build
        run: hugo --minify

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v5
        with:
          aws-region: ${{ secrets.AWS_REGION }}
          role-to-assume: ${{ secrets.AWS_ROLE_ARN }}

      - name: Upload contents to the S3 bucket
        run: |
          aws s3 sync --quiet --delete ./public s3://${{ secrets.AWS_S3_BUCKET }}
